---
import Root from "../layouts/Root.astro";

const projects: Array<{ title: string; body: string; url: string }> = [
	{
		title: 'Kosmos Chat',
		body: "A Chatroom made with TypeScript and Websockets",
		url: "https://chat.kosmos.community/"
	},
	{
		title: 'Neorank',
		body: "A sleek and minimal version of Hacker News",
		url: "https://neorank.reyes.cool/"
	},
	{
		title: 'Kosmos',
		body: "Knowledge-focused spanish community aimed to connect people and help them learn and grow",
		url: "https://www.kosmos.community/"
	},
	{
		title: 'Widgets',
		body: "A showcase sandbox of react/javascript as a website of widgets",
		url: "https://widgets-sandbox.vercel.app/"
	},
	{
		title: 'Root',
		body: "Clean and simple start-page for daily use",
		url: "https://github.com/imreyesjorge/root-startpage"
	},
]

const portfolioTechnologies: Array<string> = [
	"HTML",
	"CSS",
	"TypeScript",
	"PHP",
	"Astro",
	"Laravel",
	"Vue",
	"React",
	"Angular",
	"React Native",
	"Expo",
	"Docker",
	"Linux",
	"Node",
	"NextJS",
];

const historySteps: Array<{ title: string; body: string; date: string }> = [
	{
		title: "Software Engineer @ Jetpack Labs Inc.",
		body: "Leveraged a diverse set of technologies, such as React, Tailwind CSS, PHP, Laravel, Hybridly, and Vue, to design and develop a comprehensive web application and multiple landing pages. These tools were instrumental in ensuring a responsive, efficient, and visually appealing user experience.",
		date: "11/2023 – Present",
	},
	{
		title: "Software Engineer @ OneSeven Tech. (contract)",
		body: "Collaborated with a client to design and develop a comprehensive web application using Next.js, React, TypeScript, and NestJS. This involved close communication to understand their specific requirements and implement tailored solutions to meet their needs.",
		date: "06/2023 – 09/2023"
	},
	{
		title: "Software Engineer @ Legal Karma",
		body: "Worked closely with the design to implement and refactor a single-page application (SPA), paying careful attention to every detail. This project involved utilizing technologies such as Next.js, React, TypeScript, and tRPC, among other tools, to ensure a polished and highly functional final product.",
		date: "07/2022 – 06/2023"
	},
	{
		title: "Front-end Developer @ Dealergeek",
		body: "Primarily focused on developing robust web applications using Angular, with an emphasis on creating reusable components to streamline future development. Additionally, gained experience working with React on smaller projects, applying best practices to ensure efficiency and maintainability.",
		date: "09/2021 – 06/2022",
	},
	{
		title: "Software Engineer Intern @ Dealergeek",
		body: "Developed two key projects using React and Angular. Leveraged React with React Native to create a multi-platform application, and utilized Angular to build a robust web application, ensuring both projects were optimized for performance and user experience.",
		date: "06/2021 – 08/2021",
	},
	{
		title: "Software Engineer Intern @ Okani",
		body: "Leveraged Next.js to design and develop a series of static landing pages, focusing on creating clean, efficient, and visually appealing layouts. In addition to the initial development, I also implemented a range of small but impactful improvements to these pages over time, ensuring that they remained up-to-date and optimized for user engagement and performance. This involved refining design elements, enhancing load times, and ensuring responsiveness across different devices.",
		date: "12/2020 – 08/2021",
	},
	{
		title: "Director of Event Operations @ Workshop Tech",
		body: "Planned and organized a series of tech-related events on the school campus, aimed at enriching the students' educational experience. These events included workshops, seminars, and hands-on activities designed to introduce students to emerging technologies and enhance their technical skills. Coordinated with speakers, arranged logistics, and ensured all activities ran smoothly, fostering an engaging and informative environment for the student body.",
		date: "10/2019 – 03/2021",
	}
];
---

<Root>
	<div class="text-stone-400 flex flex-col gap-20 leading-relaxed mb-20 hover:[&_a]:text-stone-50 [&_a]:underline [&_a]:underline-offset-2 [&_a]:decoration-dotted">
		<header>
			<div class="flex flex-col gap-6">
				<h1 class="text-lg font-serif text-stone-50">
					Hey, I'm <span class="text-stone-50">Jorge Reyes</span>.
				</h1>
				<p>
					A Software Engineer that loves to learn new things, linux
					enthusiast, video-games enjoyer, pseudo-photographer and
					above all, human. Currently working at <a
						href="https://jetpacklabs.com">Jetpack Labs</a
					> building beautiful and usable web experiences.
				</p>
			</div>
		</header>

		<main class="flex flex-col gap-20">
			<div class="flex flex-col gap-6">
				<h2 class="text-lg font-serif text-stone-50">Projects</h2>
				<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
					{ projects.map((project) => (
						<li class="flex flex-col gap-2">
							<h4 class="font-serif leading-none"><a href={project.url} class="text-stone-400 flex items-center gap-1 group"><span>{project.title}</span><svg class="size-4 opacity-0 group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20"><path fill="currentColor" fill-rule="evenodd" d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06" clip-rule="evenodd"/></svg></a></h4>
							<p>{project.body}</p>
						</li>
					)) }
				</ul>
			</div>

			<div class="flex flex-col gap-6">
				<h2 class="text-lg font-serif text-stone-50">Currently</h2>
				<p>
					Found myself learning more about <a
						href="https://www.php.net">PHP</a
					> and the amazing toolset provided by <a
						href="https://laravel.com">Laravel</a
					>, with the final touch of <a href="https://vuejs.org"
						>Vue</a
					>. This technologies are empowering me to craft even more
					beautiful and awesome web experiences. Altough still working
					with other incredible frameworks such as <a
						href="https://astro.build">Astro</a
					>, which I used to create this website!
				</p>
			</div>

			<div class="flex flex-col gap-6">
				<h2 class="text-lg font-serif text-stone-50">History</h2>
				<div>
					<ul class="flex flex-col">
						{
							historySteps.map((step, index) => (
								<div class="pl-6 border-l border-stone-700 h-12 relative"></div>
								<li class="pl-6 border-l border-stone-700 relative">
									<div class="size-4 rounded-lg bg-stone-800 border-2 border-stone-700 absolute top-1.5 left-0 -translate-x-1/2"></div>
									<div class={ index === 0 ? 'p-4 rounded-lg bg-stone-900 border border-stone-700 shadow-lg': ''}>
										<h3 class="font-serif text-stone-400">
											{step.title}
										</h3>
										<p class="text-sm mb-2">{step.body}</p>
										<small class="text-xs text-stone-400">
											{step.date}
										</small>
									</div>
								</li>
							))
						}
					</ul>
				</div>
			</div>

			<div class="flex flex-col gap-6">
				<h2 class="text-lg font-serif text-stone-50">
					Technologies I’ve worked with
				</h2>
				<ul class="flex gap-4 flex-wrap">
					{
						portfolioTechnologies.map((technology) => (
							<li class="text-xs bg-stone-900 px-2.5 py-1.5 rounded-full hover:bg-orange-800">
								{technology}
							</li>
						))
					}
				</ul>
			</div>

			<div class="flex flex-col gap-6">
				<h2 class="text-lg font-serif text-stone-50">Contact</h2>
				<p>
					Send me a mail to <a href="mailto:jorge@reyes.im"
						>jorge@reyes.im</a
					> or follow me on <a href="https://x.com/imreyesjorge"
						>x (formerly twitter)</a
					>.
				</p>
				<p>
					Inspect my work at <a href="https://github.com/imreyesjorge"
						>github</a
					>.
				</p>
			</div>
		</main>
	</div>
</Root>
